
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Game of Thrones gfy</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/main.css">
    <meta name="viewport" content="initial-scale=1">
</head>

<body>

    <header class="page-header">
        <div class="img-preview">
            <video width="300" height="200" autoplay loop id="preview">
                <source src="http://zippy.gfycat.com/CookedOpulentEchidna.webm" type="video/webm">
                <source src="http://giant.gfycat.com/CookedOpulentEchidna.webm" type="video/webm">
                <source src="http://fat.gfycat.com/CookedOpulentEchidna.webm" type="video/webm">
          </video>
        </div>
         <div class="headings">
            <h2>Game of Thrones gfys</h2>
            <p>Valar morghulis. This is a project inspired by <a href="https://github.com/jglovier/gifs">jglovier/gifs</a> but Game of Thrones themed!</p>
        </div>
    </header>

    <div class="gif-listing">
